section {
    flex: 0 1 100%; 
}

.centerfig {
    max-width: 40%;
}

input[class^="submit"] { 
    width: 25%;
    }

input[type="radio"], input[type="checkbox"]{ 
    transform: scale(1.5); 
}

.centerfig2{
    display:none;
}
.centerfig {
    display:inline;
    position: relative;
    left:0%;
    top: 0%;
    animation-name: move;
    animation-duration: 3s;
    max-width: 40%;
    height: auto;  
    transition: all 200ms ease;
}

@keyframes move {
    0%   {left:-100%; top:0%; }
    100%  {left:0%; top:0%; }
 }