html{
    min-height: 100%; 
    animation-name: flash1;
    animation-duration: 1ms;
    font-size:x-large;
    animation-iteration-count: infinite;
}


@keyframes flash1 {
    0% {background-color: black;}
    50% {background-color: white;}
    100% {background-color: black;}

}

p, h1{
    text-align:center;
    animation-name: flash2;
    animation-duration: 1ms;
    font-size:x-large;
    animation-iteration-count: infinite;
}

@keyframes flash2 {
    0% {color: white;}
    50% {color: black;}
    100% {color: white;}

}